* {
  box-sizing: border-box;
}
body{
  margin: 10;
  font-family: Arial;
  background: #f2ebe8;
  display: flex;
  flex-direction:column;
  justify-content: center;

}
.page-header{
  position: relative;
  left: 0;
  padding:10px;
  font-family: Arial, sans-serif;
  text-align: center;  
  width: 450; 
  height: 85px;
  /* border: 1px solid red; */
}

.page-nav{
  padding-top: 10px;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  font-size: 30px;
  display:flex;
  justify-content: right;
}
.page-nav>a{
  border-radius: 5px 5px;
  float: right;
  position: relative;
  padding: 0 5px;
}
a:link{color:green;}/*not been visited*/
a:visited{color:rgb(56, 56, 100);}/*already been visited*/
a:hover{
  box-shadow: 2px 3px 10px 2px #5aa1d1;
  color:rgb(231, 36, 205);}/*mouse hover on*/
a:active{color:rgb(130, 130, 38);}/*a tag been actived*/
/* .page-main{

} */
img{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  width: 100%;
  height: 100%;
}
.page-aside{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
.page-aside div img{
  margin: 0;
  padding-right: 10px;
  float: right;
  width: 60%;

}
.page-aside a{
  position: relative;
  float: right;
  padding: 10px 2px;
}
.page-footer{
  padding: 5px;
  clear: both;
  font-family: Arial, sans-serif;
  text-align: center;
}
.page-footer h4{
  padding: 2px;
  font-size: 18px;
}
.page-footer p{
  padding: 2px;
  font-size: 15px;
}

